<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!--
  需求：由于main.js里面的代码比较少，所以把main.js里面的代码全部加载到html头部
  获取公共模块main的ip地址：htmlWebpackPlugin.files.chunks.main.entry
  获取公共模块main路径：htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)
  获取公共模块main代码：compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()
  注意：添加公共代码，需要在webpack.config.js的plugins-chunks里面添加到main模块，否则报错
  -->
  <script type="text/javascript">
    <%=compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()%>
  </script>
</head>

<body>

  <h1>我的第一个标签</h1>
  <h5>现在时间是：<%= htmlWebpackPlugin.options.date %></h5>

  <!-- 我是注释，为了验证htmlWebpackPlugin的minify压缩方法是否能压缩代码和删除注释 -->
  <div style="background-color:red;">
    <% for(var key in htmlWebpackPlugin){ %>
      <%= key %><br/>
        <% } %>
  </div>
  <div style="background-color:pink;">
    <% for(var keyf in htmlWebpackPlugin.files){ %>
      <%= keyf %>:
        <%= JSON.stringify(htmlWebpackPlugin.files[keyf]) %><br/>
          <% } %>
  </div>
  <div style="background-color:yellowgreen;">
    <% for(var keyo in htmlWebpackPlugin.options){ %>
      <%= keyo %>:
        <%= JSON.stringify(htmlWebpackPlugin.options[keyo]) %><br/>
          <% } %>
  </div>




  <!-- 为了配合加载公共模块：禁止自动添加链接，手动利用一个循环添加链接 -->
  <% for(var script in htmlWebpackPlugin.files.chunks){ %>
    <% if(script !== "main"){ %>
      <script src="<%= htmlWebpackPlugin.files.chunks[script].entry %>" charset="utf-8"></script>
      <% } %>
        <% } %>
</body>

</html>
